@{
    Layout = "~/Views/MaoAPP/_Layout.cshtml";
}
<style>
    .btnSend:hover {
        background: rgba(150,0,0,1) !important;
    }
</style>
<div class="container"  ng-init="seleccion = 'Promocion'">
    @Html.Raw(TempData["msg"])
    <div class="col-sm-8 col-sm-offset-2" style="background:rgba(0,0,0,0.7);color:white !important; padding:25px;">
        @using (Html.BeginForm("UploadImages", "MaoAPP", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="exampleInputEmail1">Titulo</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="titulo">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Mensaje</label>
                    <textarea class="form-control" name="mensaje" id="exampleTextarea" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Imagen</label>
                    <input type="file" name="uploadImages" class="form-control-file" />
                </div>
                <div class="text-center">
                    <input type="submit" name="button" value="Upload" class="btn btnSend" style="background:rgba(155,0,0,0.7); color:white" />
                </div>
            </div>
        }
    </div>
</div>


